.header-wrapper {
  border-bottom: 1px solid $borderColor;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 16px 15px;
}

@media (min-width: 1200px) {
  .header {
    padding: 24px 0;
  }
}

.nav {
  display: flex;
  gap: 93px;
  align-items: center;
}

/* ----------------- logo ----------------- */

.logo--text {
  font-family: $fontRaleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: $headerColor;
  text-decoration: none;
}

.logo--text-primary {
  color: $blueColor;
}

.logo--text:focus {
  color: $blueColor;
  outline: none;
  transition: color 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__links {
  display: none; // display: flex;
  list-style: none;
  gap: 46px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  color: $headerColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.nav__link--active::after {
  content: "";
  width: 100%;
  display: block;
  background-color: $blueColor;
  height: 4px;
  border-radius: 2px;
  position: relative;
  top: 37px; // top: 29px;
  transition: background-color 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .nav__links {
    display: flex;
  }
  .nav__link--active::after {
    top: 29px;
  }
}

@media (min-width: 1200px) {
  .nav__link--active::after {
    top: 29px;
  }
}

.nav__link:hover,
.nav__link:focus {
  color: $blueColor;
  outline: none;
  transition: color 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 10px; // gap: 50px;
  display: none;
  flex-direction: column;
}

@media (min-width: 768px) {
  .contact-links {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .contact-links {
    flex-direction: row;
    gap: 50px;
  }
}

.contact-links__link {
  text-decoration: none;
  color: $textColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.contact-links__link:hover,
.contact-links__link:focus {
  color: $blueColor;
  outline: none;
  transition: color 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon--envelope,
.icon--smartphone {
  vertical-align: middle;
  margin-right: 10px;
}

.icon--envelope:hover,
.icon--envelope:focus,
.icon--smartphone:hover,
.icon--smartphone:focus {
  fill: $blueColor;
  outline: none;
  transition: fill 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* =============== MOBILE MENU =============== */
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: $blueColor;
  outline: none;
  transition: color 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: $whiteColor;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu__sites {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu__sites--page-link {
  display: block;
  margin: 0 0 32px 0;
  color: $headerColor;
  text-decoration: none;

  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}

.mobile-menu__contacts {
  padding: 0;
  margin: 300px 0 0 0;
  list-style: none;
}

.mobile-menu__contacts--tel-link {
  display: block;
  margin: 0 0 32px 0;
  color: $headerColor;
  text-decoration: none;

  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
}

.mobile-menu__contacts--mail-link {
  display: block;
  color: $textColor;
  text-decoration: none;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
}

.mobile-menu__social {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 64px 0 8px 0;
  list-style: none;
}

.mobile-menu__social--link {
  color: $blueColor;
  text-decoration: none;

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;

  padding-right: 10px;

  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mobile-menu__social--link-nonborder {
  color: $blueColor;
  text-decoration: none;

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  border: none;
}

.mobile-menu__sites--page-link:hover,
.mobile-menu__sites--page-link:focus,
.mobile-menu__contacts--tel-link:hover,
.mobile-menu__contacts--tel-link:focus,
.mobile-menu__contacts--mail-link:hover,
.mobile-menu__contacts--mail-link:focus {
  color: $blueColor;
  outline: none;
  transition: color 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__social--link:hover,
.mobile-menu__social--link:focus {
  color: $textColor;
  outline: none;
  transition: color 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-menu-button {
  fill: $headerColor;
  cursor: pointer;
}

.close-menu-button:hover,
.close-menu-button:focus {
  fill: $blueColor;
  outline: none;
  transition: fill 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
