.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  min-height: 609px;
  background: $whiteColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
  opacity: 1;
}

@media (min-width: 1200px) {
  .backdrop .modal {
    width: 528px;
    min-height: 581px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: visible;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  opacity: 0;
}

.modal__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 8px 0 0 412px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: $whiteColor;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .modal__close-button {
    margin: 8px 0 0 490px;
  }
}

.modal__close-button .modal__close-x-button {
  display: flex;
  width: 30px;
  height: 30px;
}

.modal__close-button:hover,
.modal__close-button:focus,
.modal__close-button .modal__close-x-button:hover,
.modal__close-button .modal__close-x-button:focus {
  color: $blueColor;
  border-color: $blueColor;
  outline: none;
  transition: color 0.25s, border-color 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
