* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1600px;
  font-family: $fontRoboto;
  color: $textColor;
}

@media (max-width: 320px) {
  body {
    // min-width: 320px;
    overflow-x: hidden;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0;
  }
}

.section-header {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: $headerColor;
  margin: 0 0 50px 0;
}

@media (min-width: 1200px) {
  .section-header {
    font-size: 36px;
    line-height: 42px;
  }
}
